html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  background-color: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-color: black;
  --background-color: white;
  --navLink-color: #979797;
  --border-color: rgba(0, 0, 0, 0.05);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: inherit;
}

ol,
li,
ul {
  padding: 0;
  list-style: none;
}

.text-center {
  text-align: center;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
